; Configuration file for ledDaemon.py
; Copyright (c) Charles Shapiro Feburary 2018
;
;
;This file is part of raspi_blinky.
;   raspi_blinky is free software: you can redistribute it and/or modify
;   it under the terms of the GNU General Public License as published by
;   the Free Software Foundation, either version 3 of the License, or
;   (at your option) any later version.
;   raspi_blinky is distributed in the hope that it will be useful,
;   but WITHOUT ANY WARRANTY; without even the implied warranty of
;   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
;   GNU General Public License for more details.
;   You should have received a copy of the GNU General Public License
;   along with raspi_blinky.  If not, see <http://www.gnu.org/licenses/>.
;
[ledDaemon]
; Int handle for shared memory segment
shmKeyNum = 11
; Int size of shared memory segment
shmSize=20
; Pin where LED is located
pinNumber= 11
; Write current contents of shared memory segment to stdout if set
;verbose = True
; Default time in seconds for blink on / off
blinkTime = 2
; verbosity flag
;Verbose = true
